body {
  width: 500px;
  height: 500px;
  background-color: #202124;
  color: #cfcfcf;
}

.CodeMirror {
  font-family: Arial, monospace;
  font-size: 16px;
  border: 3px solid #646464;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
